/* css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Use flexbox to ensure horizontal alignment */
    justify-content: center; /* Center the nav items */
}

nav ul li {
    float: none; /* Reset the float property */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #111;
}

.image-container {
    width: 50%; /* or any width you prefer */
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

