/* css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3ea;
    padding: 1em;
    color: black;
}

header h1 {
    margin: 0;
}

.image-container {
    display: flex;
    gap: 1em; /* Optional: adds space between images */
}

.responsive-image {
    max-height: 100px; /* Adjust this value based on your design */
    height: auto;
    width: auto;
}
.cschedule {
    max-height: 300px; /* Adjust this value based on your design */
    height: auto;
    width: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #940000;
}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
nav ul li ul.dropdown li {
    display: block;
}
nav ul li ul.dropdown{
    width: 100%;
    background: #940000;
    position: absolute;
    z-index: 999;
    display: none;
}
nav ul li a:hover{
    background: #222;
}
nav ul li:hover ul.dropdown {
    display: block;

}
/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #940000;
    display: flex; /* Use flexbox to ensure horizontal alignment */
    /* width: 100%; */
    /* Remove position: absolute to prevent the nav bar from being fixed at the bottom */
/* }

nav ul li {
    float: none; /* Reset the float property */
/* } */

/* nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* nav ul li a:hover {
    background-color: #111;
} */ 

main {
    padding: 2em;
}
