/* css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3ea;
    padding: 1em;
    color: black;
}

header h1 {
    margin: 0;
}

.image-container {
    display: flex;
    gap: 1em; /* Optional: adds space between images */
}

.responsive-image {
    max-height: 100px; /* Adjust this value based on your design */
    height: auto;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #940000;
    display: flex; /* Use flexbox to ensure horizontal alignment */
    justify-content: center; /* Center the nav items */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li {
    float: none; /* Reset the float property */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #111;
}
